@model IEnumerable<BookTracker.Models.BookInventoryListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasRead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Author)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HasRead)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TypeOfBook)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Notes)
    </td>
    <td>

        @Html.ActionLink("Edit", "Edit", new { bookInventoryID = item.BookInventoryID }) |
        @Html.ActionLink("Details", "Details", new { bookInventoryID = item.BookInventoryID }) |
        @Html.ActionLink("Delete", "Delete", new { bookInventoryID = item.BookInventoryID })
    </td>
</tr>
}

</table>
